.animal {
    margin-bottom: 1rem;
    border-radius: var(--panel-border-radius);
}
.animal .animal-header,
.animal .animal-body {
    padding: .25rem .5rem;
}
.animal .animal-header {
    border-top-left-radius: var(--panel-border-radius);
    border-top-right-radius: var(--panel-border-radius);
    font-size: .95rem;
}
.animal .animal-header .animal-name {
    margin-right: .5rem;
    font-weight: bold;
}
.animal .animal-header .animal-value {
    font-style: italic;
    opacity: .5;
}
.animal .animal-body {
    background: rgba(0, 0, 0, .33);
    border-bottom-left-radius: var(--panel-border-radius);
    border-bottom-right-radius: var(--panel-border-radius);
    font-size: .85rem;
    display: flex;
    align-items: center;
}
.animal .animal-body .animal-image {
    width: 64px;
    height: 64px;
    margin-right: .5rem;
}
.animal .animal-body table {
    border-collapse: collapse;
    width: 100%;
}
.animal .animal-body tr:first-child {
    border-top: none;
}
.animal .animal-body tr {
    border-top: 1px solid rgba(255, 255, 255, .25);
}
.animal .animal-body tr td {
    font-weight: lighter;
}
.animal .animal-body tr td:first-child {
    font-weight: bold;
    font-style: italic;
    width: 65px;
}
