.settings-bar-wrapper.settings-collapse .settings-bar-content {
    display: none;
}
.settings-bar-wrapper {
    color: #f1faee;
}
.settings-bar {
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.settings-bar .app-name {
    font-weight: bold;
    font-size: 1.1rem;
}
.settings-bar .app-date-time {
    font-size: .85rem;
}
.settings-bar .menu-toggle {
    cursor: pointer;
    border-radius: var(--panel-border-radius);
    padding: .25rem .5rem;
    font-weight: bold;
    color: inherit;
    border-width: var(--default-border-width);
    border-color: rgba(255, 255, 255, .25);
}
.settings-bar-wrapper a {
    text-decoration: none;
    color: inherit;
}
.settings-bar-wrapper .settings-bar-content {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-top: .75rem;
}
.settings-bar-wrapper .settings-bar-content .link-wrapper {
    padding: .33rem 0;
}
.settings-bar-wrapper .app-settings {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-top: .33rem;
    padding-bottom: .33rem;
}
