.settings-bar-wrapper.settings-collapse .settings-bar-content {
    display: none;
}
.settings-bar-wrapper {
    background: #03071e;
    color: #f1faee;
}
.settings-bar {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.settings-bar .menu-toggle {
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    border-radius: var(--panel-border-radius);
    padding: .25rem .5rem;
    font-weight: bold;
    color: inherit;
    border-width: 1px;
    border-color: rgba(255, 255, 255, .25);
}
.settings-bar-wrapper .settings-bar-content {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: .5rem;
}
